<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="ar600_head_transmission">
    
    <transmission name="head_mount_transmission">
      <!-- <actuator name="torso_rotation_motor" /> -->
      <joint name="torso_head_mount" />
      <type>
      	transmission_interface/SimpleTransmission
      </type>
      <actuator name="head_mount_joint_actuator">
        <mechanicalReduction>1</mechanicalReduction>
        <motorTorqueConstant>10</motorTorqueConstant>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </actuator>
      <!-- <mechanicalReduction>${-1 * 624/35 * 80/18}</mechanicalReduction> -->
    </transmission>

	<transmission name="mount_head_tilt_mount_transmission">
      <!-- <actuator name="torso_rotation_motor" /> -->
      <joint name="mount_head_tilt_mount" />
      <type>
      	transmission_interface/SimpleTransmission
      </type>
      <actuator name="mount_head_tilt_mount_joint_actuator">
        <mechanicalReduction>1</mechanicalReduction>
        <motorTorqueConstant>10</motorTorqueConstant>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </actuator>
      <!-- <mechanicalReduction>${-1 * 624/35 * 80/18}</mechanicalReduction> -->
    </transmission>

	<transmission name="head_mount_head_transmission">
      <!-- <actuator name="torso_rotation_motor" /> -->
      <joint name="head_mount_head" />
      <type>
      	transmission_interface/SimpleTransmission
      </type>
      <actuator name="head_mount_head_joint_actuator">
        <mechanicalReduction>1</mechanicalReduction>
        <motorTorqueConstant>10</motorTorqueConstant>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </actuator>
      <!-- <mechanicalReduction>${-1 * 624/35 * 80/18}</mechanicalReduction> -->
    </transmission>
    
  </xacro:macro>


</robot>